body {
  background-color: azure;
}

img {
  border: 5px black solid;
  width: 590px;
  height: auto;
}

span{
  color: MediumBlue;
  font-size: 24px;
}

.jumbotron {
  text-align: center;
  background-color: silver;
}

.title{
  margin-top: 5px;
  margin-bottom: 5px;
}

#footer{
  background-color: silver;
  padding: 10px;
  padding-left: 20px;
  margin-top: 20px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: silver;
}

li{
  float: left;
  width: 20%;
  border-right: 1px solid black;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li a:hover{
  background-color: azure;
}

li:last-child {
  border-right: none;
}
