body {
  background-color: azure;
}

img {
  border: 5px black solid;
  width: 590px;
  height: auto;
}

.jumbotron {
  text-align: center;
  background-color: silver;
}

.title{
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer{
  background-color: silver;
  padding: 15px;
  margin-top: 30px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: silver;
}

li{
  float: left;
  width: 20%;
  border-right: 1px solid black;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li a:hover{
  background-color: azure;
}

li:last-child {
  border-right: none;
}
