<div class="container">
  <h1>High Five Director Fury</h1>
</div>
<div class="container col-lg-offset-1 col-lg-3 col-sm-4">
  <h3>Meet Director Nick Fury:</h3>
  <p>He's at the top of S.H.I.E.L.D.</p>
  <p>Some think he is dead.</p>
  <p>SHIELD security clearance level: 10.</p>
  <p>He's also really good at high fives.</p>
  <br>
  <button type="button" ng-click="df.checkQuality(df.agentQuality)">High Five Director Fury</button>
  <br>
  <p>Director Fury's Skill Level: {{df.agentQuality}}</p>
  <p>High Five Success Counter: {{df.success}}</p>
</div>
<div class = "container col-lg-6 col-sm-5">
  <img src="http://img.cinemablend.com/cb/0/7/5/a/c/b/075acb0d582f6a8d57a8eb846a19ab000bcddc0d28f4fef050008e323915321d.jpg" alt="director fury">
</div>
