<div class="container">
  <h1>High Five Agent May</h1>
</div>
<div class="container col-lg-offset-1 col-lg-3 col-sm-4">
  <h3>Meet Agent Melinda May:</h3>
  <p>She works for S.H.I.E.L.D.</p>
  <p>Some call her the Calvary.</p>
  <p>SHIELD security clearance level: 7.</p>
  <br>
  <button type="button" ng-click="am.checkQuality(am.agentQuality)">High Five Agent May</button>
  <br>
  <p>Agent May's Skill Level: {{am.agentQuality}}</p>
  <!-- set success so it can be displayed in footer -->
  <p>High Five Success Counter: {{am.success}}</p>
</div>
<div class = "container col-lg-6 col-sm-5">
  <img src="https://static.comicvine.com/uploads/original/11119/111190794/4776550-9215809072-agent.jpg" alt="agent may">
</div>
